@{ 
    Layout = null;
}
<html>
<head>
    <meta http-equiv="refresh" content="0;url=/home/index?tool_type=label">
</head>
<body ondragstart="return false" onselectstart="return false">
</body>
</html>